.event-button-container {
  margin-top: 3rem;
}

.events-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  z-index: 15;
}

.events-button:hover {
  background-color: #0056b3;
}
